.Container {
  background: rgb(5, 43, 25);
  background: linear-gradient(
    0deg,
    rgb(29, 126, 74) 0%,
    rgba(45, 172, 104, 1) 100%
  );
}
.Container h1,
p {
  font-family: Raleway;
  color: rgb(180, 197, 183);
  font-size: 1.5rem;
}
.Title {
  background-color: rgba(39, 39, 39, 0.26);
 display: grid;
  justify-content: center;
  padding-bottom: 2rem;

}
.Title img {
  border-radius: 0.5rem;
  width: 50rem;
}
.Title > h1 {
  font-size: 3rem;
  color: rgb(0, 3, 1);
}
.Title > p {
  color: rgb(29, 29, 29);
}
.Container > p {
  font-size: 1.2rem;
  text-shadow: 2px 1px 3px rgba(3, 3, 3, 0.596);
  color: rgb(117, 163, 123);
}

.Destination ul {
  padding: 1rem 4rem;
}
.Destination li {
  font-size: 1rem;
  font-family: Raleway;
}
.Destination p {
  padding: 1rem 4rem;
  color: rgb(0, 2, 1);
}

@media only screen and (max-width: 1000px) {
  .Title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Title img {
    width: 90%;
  }
}
