.Container {
  background: rgb(29, 126, 74);
}
.Container h1,
p {
  font-family: Raleway;
  color: rgb(180, 197, 183);
  font-size: 1.5rem;
}
.Title {
  padding-top: 1rem;
  background-color: rgba(39, 39, 39, 0.26);
  display: grid;
  justify-content: center;
  padding-bottom: 2rem;
}
.Title img {
  border-radius: 0.5rem;
  width: 50rem;
}
.Title > h1 {
  font-size: 3rem;
  color: rgb(0, 3, 1);
}
.Title > p {
  color: rgb(36, 36, 36);
  font-size: 1.5rem;
  text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.596);
}

.Destination div {
  background-color: rgb(117, 163, 123);
  margin: 0rem 10rem;
}
.Destination p {
  line-height: 2.5rem;
  padding: 2rem 5rem;
  color: rgb(0, 2, 1);
}

@media only screen and (max-width: 1000px) {
  .Title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Title img {
    width: 90%;
  }
  .Destination div {
    margin: 0rem;
  }
  .Destination p {
    padding: 2rem 2rem;
  }
}
