.Footer {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 6rem;
  font-family: Raleway;
  color: white;
}
.Footer span {
  font-family: Montserrat;
}
.GithubContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.GithubContainer span {
  padding: 0.3rem;
}

@media only screen and (max-width: 1000px) {
  .Footer span {
    font-family: Montserrat;
    font-size: .8rem;
  }
  .GithubContainer span {
    padding: 0.3rem;
    font-size: 0.8rem;
  }
}