.Footer {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 6rem;
  font-family: Raleway;
}
.Footer h1{
  font-size: 2rem;
}
.Footer p{
  font-size: 1rem;
}
.Footer p,
h1,
span,
a {
  color: white;
}
.Footer span {
  font-family: Montserrat;
}
.GithubContainer {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}
.GithubContainer span {
  padding: 0.3rem;
}

@media only screen and (max-width: 1000px) {
  .Footer {
    padding: 1rem;
  }
  .Footer span {
    font-family: Montserrat;
    font-size: 0.8rem;
  }
}
