.Header {
  display: flex;
  align-items: center;
  height: 6rem;
  background: rgb(12, 56, 35);
  background: linear-gradient(
    0deg,
    rgba(12, 56, 35, 1) 0%,
    rgb(36, 85, 59) 100%
  );
  /* background: rgb(48, 105, 75);
  background: linear-gradient(
    90deg,
    rgba(48, 105, 75, 1) 0%,
    rgba(12, 56, 35, 1) 100%
  );*/
}
.Header h1 {
  font-size: 3rem;
  font-family: Raleway;
  color: #62bd69;
  margin-left: 2rem;
}
.Header > nav {
  /*border: 1px solid red;*/
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.Header div {
  /* border: 1px solid rgb(134, 110, 110);*/
  display: flex;
}
.Header button {
  border: none;
  outline: none;
  background-color: transparent;
  font-family: Montserrat;
  font-size: 1.5rem;
  padding: 0 1rem;
  color: #62bd69;
  text-decoration: none;
  cursor: pointer
}
@media (max-width: 1000px) {
  .Header a {
    padding: 0 0.5rem;
  }
}
@media (max-width: 700px) {
  .Header h1 {
    font-size: 2.5rem;
    margin-left: 1rem;
  }
  .Header > nav {
    margin-right: 1rem;
  }
  .Header a {
    font-size: 1.2rem;
    padding: 0 0.2rem;
  }
}
