.PostContainer {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 4rem;
  justify-content: center;
}

@media only screen and (max-width: 800px) {
  .PostContainer {
    grid-template-columns: auto;
  }
}
