.Home {
  padding: 1rem;
  background-color: #86aa89;
}
.Home h1 {
  font-size: 4rem;
}
.Home h2,
h1 {
  font-family: Montserrat;
}
.Home h1,
h2,
p {
  color: rgb(27, 27, 27);
}
.Home strong,
p {
  font-family: Raleway;
}
.Home li {
  margin: 0rem 1rem;
  padding: 1rem 0rem;
}
