.About {
  background-color: #86aa89;
  padding: 2rem 5rem;
  
}
.About h1 {
  font-size: 4rem;
}
.About h2,
h1 {
  font-family: Montserrat;
}
.About h1,
h2 {
  color: rgb(27, 27, 27);
}
.About strong {
  font-family: Raleway;
}
.About li {
  margin: 0rem 1rem;
  padding: 1rem 0rem;

}
li > p {
  color: black;
}
@media only screen and (max-width: 800px) {
  .About {
    padding: 2rem 2rem;
  }
  .About li {
    margin: 0rem 0rem;
  }
}
